
.container {
  padding: 0 0 0 0;
}
.site-header {
  margin-top: 0;
  position: relative;
}
#heading {
  align-items: center;
  padding-top: 2em;
  padding-bottom: 0;
}
a:hover, i:hover {
  color: #ffA9A9;
  text-decoration: none;
}
.fa {
  color: #6F6866;
  padding-top: 0.25em;
}

.logo-container {
  position: absolute;
  z-index: 2;
  margin-left: 5em;
  padding-top: 1.5em;
  float: left;
}
.main_navbar {
  padding-top: 0.5em;
  margin-right: 5em;
  text-align: right;
  float: right;
}
.title-container{
  padding-top: 6em;
}

a {
    color: #232026;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: inline-block;
}

/*media queries */
@media screen and (max-width: 360px) {
  /* comes into effect for screens less than or equal to 360 pixels */
  #heading {
    font-size: 20px;
  }
  .fa {
    font-size: 1.5em;
    display: inline;
    padding-right: 0.5em;
  }
  .title-container {
    padding-left: 1em;
    padding-right: 1em;
  }
  h1 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  .mini-links {
    padding-top: 1em;
  }
  .logo-container, .main-links, .small-links {
    display: none;
  }
  .fa-bars {
    font-size: 20px;
  }
  .horizontal-menu {
    display: none;
  }
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 361px) {
  #heading {
    padding-top: 0.2em;
    font-size: 3em;
  }
  .fa {
    font-size: 10px;
    display: inline;
    padding-right: 0.6em;
  }
  .small-links{
    padding-top: 1em;
  }
  .logo-container, .main_navbar, .main-links, .mini-links {
    display: none;
  }

  .horizontal-menu, .fa-bars {
    display: none;
  }
}

@media screen and (min-width: 410px) {
  .main-links {
    display: inline;
    padding-top: 1em;
  }
  .mini-links, .small-links {
    display: none;
  }
}

@media screen and (min-width: 477px) {
  #heading {
    padding-top: 1.5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
}

@media screen and (min-width: 700px) {
  /* comes into effect for screens larger than or equal to 691 pixels */
  .logo-container, .main_navbar {
    display: block;
  }
  #heading {
    font-size: 10em;
    font-size: 6vw;
  }
  /*Padding: top, right, bottom */
  .horizontal-menu {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
   a {
    padding-right: 0.75em;
    padding-top: 0;
    padding-bottom: 0.5em;
  }
  .fa {
    display: inline-block;
    padding-right: 0.75em;

  }

  .dropdown, .dropbtn, .dropdown-content {
    display: none;
  }
}
/*end of media queries*/

/*Controls drop-down navbar*/
/* Dropdown Button */
.dropbtn {
   background-color: rgba(0,0,0,0.0);
    color: white;
    padding: 16px 10px;
    font-size: 16px;
  line-height:5px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #D8CBC7}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    width: 2em;
    height: 1.5em;
}


/*Controls navbar - excluding text*/
.navbar{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("https://blogs.ubc.ca/agutierrez/files/2016/08/IMG_9900.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding:7px 30px;
  margin: 0 0 0 0;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  padding:16px 30px;
  line-height:50px;
  text-align: center;
}

/*Controls navbar text*/

nav a{
  color:white;
  border-left: 10px solid rgba(0,0,0,0);
  border-right: 6px transparent #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}


/*Controls the background image*/
/*
body {
  background-image: url("https://blogs.ubc.ca/agutierrez/files/2016/08/IMG_9900.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
}
*/



h1{
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
}

.intro-header {
  background-image: url("https://blogs.ubc.ca/agutierrez/files/2016/08/IMG_9900.jpg");
  background-position: top center;

  background-size: cover;

  height: 55em;
  margin: 0 0 0 0;
  padding: 60px 0 0 0;
  background-attachment: fixed;
}

h6{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-size: 20px;
}
#Alyssa {
  /*padding-top: 2%;*/
  padding-bottom: 2%;
  text-align: center;
  letter-spacing: 0.5em;
  position: relative;
  z-index: -1;
}

#About {
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
  padding-top: 2%;
  padding-bottom: 12%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.me {
  height: 70%;
  width: 50%;
  padding-bottom: 2em;
  border-radius: 50%;
}
.about-title {
  padding-top: 5em;
  padding-bottom: 1em;
  letter-spacing: 0.25em;
}

.about-content {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.projects-container {
  margin: 0 0 0 0;
  padding-top: 2%;
  padding-bottom: 12%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
#Projects {
  height: 55%;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5%;
  display: inline-block;

}
.projects-section-title {
  padding-top: 5em;
  padding-bottom: 1em;
  letter-spacing: 0.25em;
  text-align: center;
}
.projects-container {
  margin: .5vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

}
.projects-main-1 {
  padding-top:0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

img {
  border-radius: 50%;
}

h2{
  font-family: 'Raleway', sans-serif;
  color: #000;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: inline-block;
}

#Social{
  margin: 0;
  width: 100%;
  height: 45%;
  padding-top: 1%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5%;

}

#Acknowledgement{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 10em;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  font-size: 12px;
}

li {
  list-style: none;
  margin: 0 10px 5em 0;
  display: inline-block;
  font-size: 16px;
  padding: 0px 0px;
  color: black;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}
.site-footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
